<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/reviews/add" method="POST">
        <input type="hidden" name="restaurant_id" value="<%= restaurant_id %>">
        <label for="review_text">Review:</label>
        <textarea name="review_text" id="review_text" required></textarea>
        <label for="score">Score:</label>
        <input type="number" name="score" id="score" min="1" max="5" required>
        <button type="submit">Submit Review</button>
    </form>
</body>

</html>