<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 페이지</title>
</head>
<body>
    <h1>검색 페이지</h1>
    <form action="/search_results" method="GET">
        <div>
            <label for="searchQuery">검색어:</label>
            <input type="text" id="searchQuery" name="query" required>
        </div>
        <div>
            <button type="submit">검색</button>
        </div>
    </form>
</body>
</html>