<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container" id="wrapper">
        <fieldset>
            <legend class="header">지금 뭐 먹지?</legend>
            <form action="/login" method="POST">
                <div class="login"></div>
                <div class="id">
                    <input type="text" class="input01" id="userId" name="user_id" placeholder="아이디" required>
                </div>
                <p class="inputMsg nexonid"></p>
                <div class="pass">
                    <input type="password" id="password" name="user_password" class="input01" placeholder="비밀번호" required>
                </div>
                <p class="inputMsg password"></p>
                <div class="btLogin">
                    <button type="submit" class="button01">
                        <span class="idLoginInnerWrap">ID 로그인</span>
                    </button>
                </div>
            </form>

        </fieldset>
        <p class="loginMenu">
			<a href="/signup" class="join">회원가입</a>
			<a href="" class="schId" >ID 찾기</a>
			<a href="" class="schPass">비밀번호 찾기</a>
		</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
