<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 뭐 먹지?</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
</head>
<body>
    <div class="content-container">
        <nav class="left-menu">
            <img src="img/회원정보.png" class="left-toggle-btn" id="left-toggle-btn" alt="Toggle Left Menu" >
            <ul class="left-menu-centered">
                <li><div class="btLogin">
                    <button type="button" class="button01" data-a2s="click" data-object="P_LOGIN" data-option='{"Name":"ID_Login","Type":"IDLogin"}'>
                        <span class="idLoginInnerWrap">
                            ID 로그인
                        </span>
                    </button>
                </div></li>
                <li>메뉴 B</li><hr>
                <li>메뉴 C</li><hr>
            </ul>
        </nav>

        <section class="main-content">
            <h1>메인 콘텐츠</h1>
            <p>여기에 메인 콘텐츠가 들어갑니다.</p>
        </section>

        <aside class="right-menu">
            <img src="img/메뉴.png" class="right-toggle-btn" id="right-toggle-btn" alt="Toggle Right Menu">
            <ul class="right-menu-centered">
                <li>메뉴 1</li>
                <li>메뉴 2</li>
                <li>메뉴 3</li>
            </ul>
        </aside>
    </div>

    <a href="/">홈 화면으로 돌아가기</a>
    <script src="javascript/main.js"></script>
</body>
</html>
