<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도 페이지</title>
</head>
<body>
    <h1>지도 페이지</h1>
    여기서 부터는 지도 정보가 출력됩니다.
    <a href="/search">검색 페이지로 돌아가기</a>
</body>
</html>