<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container" id="wrapper">
        <fieldset>
            <legend class="header">회원 가입</legend>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="userId" name="userId" placeholder="아이디 입력" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="userNickName" name="userNickName" placeholder="닉네임 입력" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="이메일 입력" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="userPasswordHash" name="userPasswordHash" placeholder="비밀번호 입력" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="비밀번호 다시 입력" required>
                </div>
                <div class="btRegister">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                </div>
            </form>
        </fieldset>
        <p class="loginMenu">
            <a href="\login" class="backToLogin">로그인 페이지로 돌아가기</a>
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
