<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지금 뭐 먹지?</title>
    <link rel="stylesheet" type="text/css" href="css/map.css">
</head>

<body>
    <header class="page-header">
        <h1>로고</h1>
    </header>

    <div class="content-container">
        <nav class="left-menu">
            <img src="img/회원정보.png" class="left-toggle-btn" id="left-toggle-btn" alt="Toggle Left Menu">
            <ul class="left-menu-centered">
                <li>
                    <div class="btLogin" style="padding-top: 5px;">
                        <button type="button" class="button01" data-a2s="click" data-object="P_LOGIN"
                            data-option='{"Name":"ID_Login","Type":"IDLogin"}'>
                            <span class="idLoginInnerWrap">
                                <a href="/nodejs/views/login.ejs">로그인</a> 
                            </span>
                        </button>
                    </div>
                </li>
                <span>
                    <li style="justify-content: left;">추천기능</li>
                    <li>최근 작성 리뷰</li>
                    <li>리뷰 작성 신규</li>
                </span>
                <hr>
                <li>
                <li>음식점 검색</li>
                <li>음식점 타입</li>
                <a href="#" id="menuB-toggle"><i class="ion-bag"></i> <span class="centered-text">별점</span></a>
                <ul class="nav-flyout" id="menuB-flyout">
                    <li>
                        정말 맛있어요!
                        <label>
                            <input type="radio" name="menuB" value="5">
                            5점
                        </label>
                    </li>
                    <li>
                        맛있어요!
                        <label>
                            <input type="radio" name="menuB" value="4">
                            4점
                        </label>
                    </li>
                    <li>
                        보통이에요.
                        <label>
                            <input type="radio" name="menuB" value="3">
                            3점
                        </label>
                    </li>
                    <li>
                        쫌 별로에요
                        <label>
                            <input type="radio" name="menuB" value="2">
                            2점
                        </label>
                    </li>
                    <li>
                        음.....
                        <label>
                            <input type="radio" name="menuB" value="1">
                            1점
                        </label>
                    </li>
                </ul>
                <li>영업시간</li>
                <li>테이크 아웃 유무</li>
                <li>지역</li>
                <li>검색</li>
                </li>
                <hr>
                <li>
                <li>회원정보 수정</li>
                <li>비밀번호 변경</li>
                <li>회원 탈퇴</li>
                </li>
                <hr>
                <li>
                <li>기타</li>
                <li>서비스 소개</li>

                </li>
            </ul>
        </nav>

        <section class="main-content">

            <table>
                <tr>
                    <h1>메인 콘텐츠</h1> <!--이쪽 부분에 작성자 닉네임 삽입-->
                </tr>
                <tr>
                    <section class="main-content">
                        <div id="map" style="width:700px;height:600px;"></div>
                        <!--<script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db4c7c687163471496644faa61ce9514"></script>-->
                        <!--kakao 키 코드 입력-->
                        <!--<script>//이미지 클릭시 연동
                            var container = document.getElementById('map');
                            var options = {
                                center: new kakao.maps.LatLng(35.180837351545854, 128.55430309572276),
                                level: 3
                            };
                            var map = new kakao.maps.Map(container, options);
                        </script>-->
                    </section>
                </tr>
            </table>
            <!--최신 글과 평점-->

            <table style="width: 70%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="width: 25%; border: 1px solid #FFA500;">작성자</th>
                        <th style="width: 60%; border: 1px solid #FFA500;">리뷰</th>
                        <th style="width: 15%; border: 1px solid #FFA500;">평점</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><!--최신글-->
                        <td style="width: 25%; border: 1px solid #FFA500;">CES-9000</td>
                        <td style="width: 60%; border: 1px solid #FFA500;">50mt</td>
                        <td style="width: 15%; border: 1px solid #FFA500;">
                            <div class="star-rating">
                                <input type="radio" class="star" value="1">
                                <input type="radio" class="star" value="2">
                                <input type="radio" class="star" value="3">
                                <input type="radio" class="star" value="4">
                                <input type="radio" class="star" value="5">
                            </div>
                        </td>
                    </tr>
                    <tr><!--두번째-->
                        <td style="width: 25%; border: 1px solid #FFA500;">CES-9000</td>
                        <td style="width: 60%; border: 1px solid #FFA500;">50mt</td>
                        <td style="width: 15%; border: 1px solid #FFA500;">
                            <div class="star-rating">
                                <input type="radio" class="star" value="1">
                                <input type="radio" class="star" value="2">
                                <input type="radio" class="star" value="3">
                                <input type="radio" class="star" value="4">
                                <input type="radio" class="star" value="5">
                            </div>
                        </td>
                    </tr>
                    <tr><!--세번째-->
                        <td style="width: 25%; border: 1px solid #FFA500;">CES-9000</td>
                        <td style="width: 60%; border: 1px solid #FFA500;">50mt</td>
                        <td style="width: 15%; border: 1px solid #FFA500;">
                            <div class="star-rating">
                                <input type="radio" class="star" value="1">
                                <input type="radio" class="star" value="2">
                                <input type="radio" class="star" value="3">
                                <input type="radio" class="star" value="4">
                                <input type="radio" class="star" value="5">
                            </div>
                        </td>
                    </tr>
                    <tr><!--네번째-->
                        <td style="width: 25%; border: 1px solid #FFA500;">CES-9000</td>
                        <td style="width: 60%; border: 1px solid #FFA500;">50mt</td>
                        <td style="width: 15%; border: 1px solid #FFA500;">
                            <div class="star-rating">
                                <input type="radio" class="star" value="1">
                                <input type="radio" class="star" value="2">
                                <input type="radio" class="star" value="3">
                                <input type="radio" class="star" value="4">
                                <input type="radio" class="star" value="5">
                            </div>
                        </td>
                    </tr>
                    <tr><!--다섯번째-->
                        <td style="width: 25%; border: 1px solid #FFA500;">CES-9000</td>
                        <td style="width: 60%; border: 1px solid #FFA500;">50mt</td>
                        <td style="width: 15%; border: 1px solid #FFA500;">
                            <div class="star-rating">
                                <input type="radio" class="star" value="1">
                                <input type="radio" class="star" value="2">
                                <input type="radio" class="star" value="3">
                                <input type="radio" class="star" value="4">
                                <input type="radio" class="star" value="5">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </section>
        <aside class="right-menu">
            <div class="container">
                <div class="sidebar">
                    <div class="image-slider" id="image-slider">
                        <img src="img/메뉴.png" class="right-toggle-btn" id="right-toggle-btn" alt="Toggle Right Menu">
                        <!-- 각 이미지를 세로로 나열 -->
                        <img src="image1.jpg" alt="이미지 1" class="slider-image">
                        <img src="image2.jpg" alt="이미지 2" class="slider-image">
                        <img src="image3.jpg" alt="이미지 3" class="slider-image">
                        <img src="image4.jpg" alt="이미지 4" class="slider-image">
                        <img src="image5.jpg" alt="이미지 5" class="slider-image">
                        <img src="image6.jpg" alt="이미지 6" class="slider-image">
                        <img src="image7.jpg" alt="이미지 7" class="slider-image">
                        <img src="image1.jpg" alt="이미지 8" class="slider-image">
                        <img src="image2.jpg" alt="이미지 9" class="slider-image">
                        <img src="image3.jpg" alt="이미지 10" class="slider-image">
                        <img src="image4.jpg" alt="이미지 11" class="slider-image">
                        <img src="image5.jpg" alt="이미지 12" class="slider-image">
                        <img src="image6.jpg" alt="이미지 13" class="slider-image">
                        <img src="image7.jpg" alt="이미지 14" class="slider-image">
                        <img src="image7.jpg" alt="이미지 15" class="slider-image">
                    </div>
                    <div class="slider-controls">
                        <button id="prev" class="control-btn">Prev</button>
                        <button id="next" class="control-btn">Next</button>
                    </div>
                </div>
            </div>
        </aside>   
    </div>
    </section>
    </div>

    <a href="/">홈 화면으로 돌아가기</a>
    <script src="javascript/main.js"></script>
    <script src="javascript/script.js"></script>
</body>

</html>